.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log/*.log
erl_crash.dump
.rebar
logs/*.log
logs/*.access
logs/*.auth
_build
.idea
rebar3.crashdump
mnesia/*.LOG
mnesia/*.DAT
mnesia/*.DCD
