{erl_opts, [debug_info]}.
{deps, [
			{yaws,{git,"https://github.com/klacke/yaws.git",{branch,"master"}}},
			{yapp,{git,"https://github.com/nayibor/yapp.git",{branch,"master"}}}
	   ]
}.
{shell, [{apps, [yaws_swagger]},{config,"shell.config"}]}.
{ct_opts, [{logdir, "logs/ct_runs/"},{sys_config,"test.config"}]}.
{edoc_opts, [{dir,"doc"}]}.
